body {
  background-image: url('https://next.neocosmo.de/sites/next.piipe.de/files/styles/artikel_big/public/pexels-photo-203218_0.jpeg?itok=8zBvsaLr');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
a {
  color: white;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}
.jumbotron {
  background-color: #8d6a58;
  margin-top: 325px;
  height: 350px;
  text-align: center;
}
.jumbotron h1 {
  font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  font-size: 120px;
}
.jumbotron p{
  font-family: 'Cinzel', serif;
  font-size: 32px;
}
.right {
  display: inline-block;
  float: right;
  clear: right;
  padding-top: 80px;
}
.left {
  display: inline-block;
  float: left;
  clear: left;
  padding-top: 80px;
}
nav li {
  display: inline-block;
  padding: 30px 30px;
  font-size: 20px;
}
